
/* Slideshow container */

.container {
    height: 100vh;
    padding-top: 150px;
}

header {
    height: 140vh;
    background-image: none;
    background-color: darkgrey;
}

.carousel-caption {
    position:relative;
    left: 0;
   
}

.item {
    display: block;
}

.item img {
    height: 100px;
    width: 400px;
}